h1,h2,h3,h4,h5,h6,p,nav,button {
    font-family: 'Montserrat', sans-serif;
}
.navbar{
    min-height: 6em;
    background-color: #000000;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
}
.nav-b{
    padding-right: 0.5em;
}
.brand-image {
    height: 2em;
    width: 2em;
    margin-right: 1em;
}
.nav-link{
    color: white;
}
.contato {
    border: white 1px;
}

@media (max-width: 410px) {
    .nav-b{
        padding-right: 0.5em;
    }
    .brand-image {
        height: 1.2em;
        width: 1.2em;
        margin-right: 1em;
    }
    
}

/*Container 1*/

.container-1{
    background-color: rgb(226, 226, 226);
    width: 100%;
    min-height: 12em;
}
.container-1-content{
    display: flex;
    background-color: rgb(226, 226, 226);
    height: 80%;
    flex-wrap: wrap;
    align-items: center;
}
.icon-whatsapp {
    margin-right: 0.5em;
}
.inner-content{
    background-color: rgb(226, 226, 226);
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em
}
.title-text{
    width: 50%;
    flex-wrap: wrap;
    align-items: center;
}
.header {
    margin-bottom: 0.5em;
    font-size: 32pt;
}

@media (max-width: 800px){
    .title-text{
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
    }
}

/*Container 2*/

.container-2 {
    width: 100%;
    min-height: 12em;
    background-color:rgb(30, 30, 31);
    color: rgb(226, 226, 226);
}
.container-2-content{
    display: flex;
    height: 100%;
    align-items: center;
}
.inner-content-2{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;    
    margin-top: 2em;
    margin-bottom: 2em
}
.header-1 {
    text-align: center;
    width: 100%;
}
.hr {
    background-color: #FFD700;
}
.points{
    text-align: left;
    margin-top: 2em;
}

@media (max-width: 800px){
    .inner-content-2{
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 2em;
        margin-bottom: 2em
    }
}

/*Container 3*/

.container-3 {
    width: 100%;
    min-height: 12em;
    max-height: auto;
    padding: 0%;
    background-color:#e2e2e2;
}
.localizacao {
    display: flex;
    height: auto;
    justify-content: center;
    text-align: start;
}
.container-3-content{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
}
.inner-content-3 {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}
.header-2 {
    text-align: start;
}
.hr {
    background-color: #FFD700;
}
@media (max-width: 800px) {
    .container-3-content{
        display: flex;
        height: 100%;
        align-items: center;
        flex-direction: column;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .localizacao {
        display: flex;
        height: auto;
        justify-content: center;
        text-align: center;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .inner-content-3 {
        display: flex;
        margin: 0;
    }
    .header-2 {
       align-items: center;
       text-align: center;
    }
}

/*Container 4*/

.container-4 {
    width: 100%;
    min-height: 12em;
    background-color:rgb(30, 30, 31);
    color: rgb(226, 226, 226);
}
.container-4-content{
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: row;
    padding-top: 2em;
    padding-bottom: 2em;
}
.biografia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header-3 {
    text-align: center;
    width: 100%;
}
.bioimg {
    display: flex;
    max-width: 14em;
    max-height: 14em;
    margin-right: 8em;
}
.advimage {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
}

@media (max-width: 980px) {
    .container-4-content{
        display: flex;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .biografia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .bioimg {
        display: flex;
        max-width: 12em;
        max-height: 12em;
        justify-content: center;
        margin-right: 0em;
        margin-bottom: 2em;
    }
}

/*Footer*/

.footer-distributed{
	background-color: #000000;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-size: 16px;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font-size: 36px;
	margin: 0;
}

.footer-distributed h3 span{
	color:  white;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color: white;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font-size: 14px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}